*
!*/
!*.py
!*.md
!.gitignore
!.github/
!.github/**
__pycache__/
*.pyc!docs/
!docs/**
!weights/
!weights/*.pt
*.pt
App_collected_dataset/
App_collected_dataset/*!scripts/prompts/
!scripts/prompts/*.yaml
